node_modules
build
i18nResource

# Users Environment Variables
.lock-wscript

.package/
.tmp/
/dist/
*.DS_Store
.DS_Store

*.map
.map

.idea

npm-debug.log

npm-debug.log.*

/test-coverage
.testFiles
.node
.vscode
