<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ding.rtc.apiexample.advanced.switchscreen">

    <application>
        <activity
            android:name=".SwitchScreenWithSystemUIAutoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"/>
        <activity
            android:name=".SwitchScreenWithSystemUIPortraitActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".SwitchScreenWithSystemUILandscapeActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize"
            android:exported="false"/>
        <activity
            android:name=".SwitchScreenLoginActivity"
            android:exported="false" />
    </application>

</manifest>