<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ding.rtc.apiexample.advanced.speechenhance">

    <application>
        <activity
            android:name="com.ding.rtc.apiexample.advanced.speechenhance.SpeechEnhanceLoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.ding.rtc.apiexample.advanced.speechenhance.SpeechEnhanceActivity"
            android:exported="false" />
    </application>

</manifest>